/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: rgb(255, 251, 11);
  --background-color: #000; /* Cor de fundo escura para o tema escuro */
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}



@font-face {
  font-family: "Eina";
  src: url("/fonts/Eina.otf");
}


@font-face {
  font-family: "Eina Light";
  src: url("/fonts/Eina-Light.otf");
}

@font-face {
  font-family: "Eina SemiBold";
  src: url("/fonts/Eina-SemiBold.otf");
}
.mb-4 sm:mr-16 max-w-48 sm:max-w-none{

  margin-left:30px;
}



@layer base {
  p, h1, h2, h3, h4, h5 {
    color: var(--text-color);
    font-family: Eina;
  }
  .text-4xl xl:text-5xl font-bold tracking-widest leading-none {
    color: #fff;
  }
}

.Toastify__progress-bar--default {
  background: rgb(238, 2, 2) !important;
}

@media (max-width: 480px) {
  .mb-4 {
    margin-left: 50px;
  }
}